body{
    background-color: white;
}

.container{
    width: 300px;
    height: 170px;
    background-color:azure ;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    position: relative;
    top: 160px;
}

.app-title{
    width: 300px;
    height: 50px;
    background-color:aquamarine;
    border-radius: 10px 10px 0px 0px;
}
    
.app-title p{
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    font-size: 1.2em;
    color: #293251;
}
.temperature{
    width: 300px;
    height: 50px;
    background-color: rgb(132, 204, 180);

}
.temperature p{
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    color: #293251;
    font-size: 1.8em;    
    cursor: pointer;
}
.location{
    width: 300px;
    height: 50px;
    background-color: rgb(84, 153, 129) ;
}
.location p{
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    color: #293251;
    font-size: 1.8em;    
}
.date{
    width: 300px;
    height: 50px;
    background-color:rgb(49, 109, 89) ;
    border-radius: 0 0 8px 8px;
}
.date p{
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    color:aliceblue;
    font-size: 1.8em; 
}